@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Haas Grot Text R Web", "Helvetica"
}

#root {
  min-height: 100vh;
}

.page {
  min-height: calc(100vh - 82px - 286px);
}

.footer {
  height: 120px;
  color: rgba(255, 255, 255, 0.73);
}
