@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Haas Grot Text R Web", "Helvetica"
}

#root {
  min-height: 100vh;
}

/* navbar, footer */
#home {
  min-height: calc(100vh - 56px - 287px);
}

